.custom-dropdown-wrapper {
  position: relative;
  display: inline-block;
  width: 175px;
}

.dropdown {
  background-color: var(--secondary-background);
  color: var(--primary-color);
  width: 100%;
  height: 40px;
  border: none;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  outline: none;
  appearance: none;
  cursor: pointer;
  background-image: var(--chevron-down-image);
  background-repeat: no-repeat;
  background-position: right 10px center; /* Adjust position as needed */
  background-size: 8px 8px;
  font-weight: 500;
}
