body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--dark-grey);
  background-color: var(--primary-background);
  color: var(--primary-text);
}

body.light-mode {
  --primary-background: #f2f2f2;
  --secondary-background: #ffffff;
  --primary-text: #000000;
  --secondary-text: #000000a1;
}

body.dark-mode {
  --primary-background: #202c36;
  --secondary-background: #2b3844;
  --secondary-text: #000000a1;
  --primary-text: #f2f2f2;
}
