body,
input,
select,
option,
div {
  font-family: "Open Sans", sans-serif;
  background-color: var(--dark-grey);
  background-color: var(--primary-background);
  color: var(--primary-text);
  letter-spacing: 0.08rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.light-mode {
  --primary-background: #f2f2f2;
  --secondary-background: #ffffff;
  --primary-text: #000000;
  --secondary-text: #000000a1;
  --chip-color: #ebebeb;
  --chevron-down-image: url("../assets/arrow-down-dark.svg");
  --header-logo: url("../assets/techover-logo-dark.png");
  --header-button-image: url("../assets/moon-bordered.svg");
}

body.dark-mode {
  --primary-background: #202c36;
  --secondary-background: #2b3844;
  --secondary-text: #000000a1;
  --primary-text: #f2f2f2;
  --chip-color: #444e56;
  --chevron-down-image: url("../assets/arrow-down-light.svg");
  --header-logo: url("../assets/techover-logo.png");
  --header-button-image: url("../assets/moon.svg");
}
