body,
input,
select,
option {
  font-family: "Open Sans", sans-serif;
  background-color: var(--dark-grey);
  background-color: var(--primary-background);
  color: var(--primary-text);
  transition: background-color 0.3s ease, color 0.3s ease;
  letter-spacing: 0.1rem;
}

div,
button,
p,
input {
  letter-spacing: 0.1rem;
}

body.light-mode {
  --primary-background: #f2f2f2;
  --secondary-background: #ffffff;
  --primary-text: #000000;
  --secondary-text: #000000a1;
  --chip-color: #ebebeb;
  --chevron-down-image: url("../assets/arrow-down-dark.svg");
  --header-logo: url("../assets/techover-logo-dark.png");
  --header-button-image: url("../assets/moon-bordered.svg");
  --back-button-image: url("../assets/arrow-left-dark.svg");
}

body.dark-mode {
  --primary-background: #202c36;
  --secondary-background: #2b3844;
  --secondary-text: #f2f2f2;
  --primary-text: #f2f2f2;
  --chip-color: #444e56;
  --chevron-down-image: url("../assets/arrow-down-light.svg");
  --header-logo: url("../assets/techover-logo.png");
  --header-button-image: url("../assets/moon.svg");
  --back-button-image: url("../assets/arrow-left.svg");
}

@media (max-width: px) {
  :root {
    --font-size-small: 10px;
  }
}
