* {
  margin: 0;
  padding: 0;
}

.country-page-container {
  max-width: 1200px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.button-container:hover {
  background-color: var(--secondary-background);
}

.button-container {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 8px 10px;
}

.button-container a {
  color: var(--primary-text);
  text-decoration: none;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
}

.back-button-arrow {
  background-image: var(--back-button-image);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  display: block;
  height: 25px;
  margin: 0 8px;
}

.country {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.img-container {
  max-width: 500px;
  min-width: 400px;
  flex: 1;
}

.flag-img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.1);
  height: 266px;
}

.country-name {
  margin-top: 0;
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 48px;
}

.text-info {
  display: flex;
  flex-direction: column;
}

.info-left p,
.info-right p {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 300;
}

.country-details {
  display: flex;
  flex-direction: row;
  gap: 46px;
}

.border-countries {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 5px;
  list-style-type: none;
  max-width: 250px;
}

.border-country {
  background-color: var(--secondary-background);
  color: var(--secondary-text);
  padding: 5px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 0 5px;
  font-size: 12px;
  width: 30px;
}

.border-country a {
  color: var(--primary-text);
  text-decoration: none;
}

.text-info p {
  font-size: 16px;
}

.border-countries-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 70px;
}

.border-countries-container p {
  font-weight: 300;
  margin: 0px;
}

.border-countries-heading {
  display: flex;
  flex-direction: row;
}

.border-countries-heading strong {
  margin-right: 10px;
}

.skeleton-flag {
  width: 100%;
  height: 266px;
  border-radius: 10px;
  flex: 1;
}

.skeleton-border-country {
  padding: 5px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 0 5px;
  font-size: 12px;
  width: 30px;
}

@media only screen and (max-width: 375px) {
  .country {
    display: flex;
    flex-direction: column;
  }

  .flag-img {
    width: 100%;
    height: 100%;
  }

  .img-container {
    display: flex;
    align-items: center;
    min-width: 330px;
  }

  .country-page-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .country-details {
    display: flex;
    flex-direction: column;
  }

  .country-name {
    font-size: 26px;
    font-weight: 500;
  }

  .info-left {
    margin-bottom: 17px;
  }

  .info-right {
    margin-bottom: 17px;
  }

  .country-details {
    gap: 0px;
  }

  .border-countries {
    margin-top: 10px;
  }

  .border-countries-container {
    min-height: 0px;
  }
}
