.header-container-wrapper {
  display: block;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--secondary-background);
  height: 68px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--secondary-background);
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
}

.header-text {
  font-weight: 400;
  font-size: 17px;
  flex: 1;
}

.header-button {
  display: flex;
  align-items: center;
  border: none;
  justify-content: space-between;
  background: transparent;
  color: var(--primary-text);
  flex: 1;
  justify-content: flex-end;
}

.button-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  border-radius: 10px;
}

.button-content:hover {
  background-color: var(--primary-background);
  cursor: pointer;
}

.header-button-icon {
  width: 23px;
  margin-right: 10px;
}

.header-button-text {
  font-weight: 100;
  font-weight: 300;
  border: none;
}

.header-logo {
  background-color: transparent;
  height: 21px;
  background-image: var(--header-logo);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
}

.header-button-image {
  background-color: transparent;
  height: 25px;
  width: 25px;
  background-image: var(--header-button-image);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}

/* media queries mobile */
@media only screen and (max-width: 375px) {
  .header-text {
    font-size: 12px;
    margin-left: 20px;
  }

  .header-logo {
    display: none;
  }

  .header-button-text {
    font-size: 12px;
  }

  .header-button {
    margin-right: 10px;
  }

  .button-content {
    padding-left: 0px;
  }
}
