.header-container-wrapper {
  display: block;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 6px 0px;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: var(--secondary-background);
  height: 64px;
  display: flex;
  align-items: center;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--secondary-background);
  max-width: 1200px;
  margin: 0 auto;
}

.header-text {
  font-weight: 400;
  font-size: 17px;
  margin-left: 30px;
  flex: 1;
}

.header-button {
  display: flex;
  align-items: center;
  margin-right: 30px;
  border: none;
  justify-content: space-between;
  background: transparent;
  color: var(--primary-text);
  flex: 1;
  justify-content: flex-end;
}

.header-button-icon {
  width: 23px;
  margin-right: 10px;
}

.header-button-text {
  font-weight: 100;
  font-weight: 300;
  border: none;
}

.header-logo {
  background-color: transparent;
  height: 21px;
  background-image: var(--header-logo);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
}

.header-button-image {
  background-color: transparent;
  height: 25px;
  width: 25px;
  background-image: var(--header-button-image);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
}
