.search-container {
  display: flex;
  flex-direction: row;
  margin: 30px auto;
  justify-content: space-between;
  max-width: 1200px;
}

.search-input {
  background-color: var(--secondary-background);
  color: var(--primary-color);
  width: 300px;
  height: 40px;
  border: none;
  padding-left: 8px;
  border-radius: 4px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.search-input:focus {
  outline: none;
}
