.search-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
}

.search-input {
  background-color: var(--secondary-background);
  color: var(--text-primary);
  width: 300px;
  height: 40px;
  border: none;
  padding-left: 8px;
  border-radius: 4px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  color: var(--text-primary);
}

/* media queries mobile */
@media only screen and (max-width: 900px) {
  .search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
  }

  .search-input {
    width: 100%;
  }
}
