.homepage-container {
  padding: 0;
  margin: 0;
  background-color: var(--primary-background);
}

.country-cards {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  max-width: 1200px;
  margin: 0px auto;
  gap: 40px;
}

/* media queries mobile */
@media only screen and (max-width: 375px) {
  .country-cards {
    display: flex;
    justify-content: center;
  }
}
