.homepage-container {
  padding: 0 20px;
  margin: 0;
  background-color: var(--primary-background);
}

.search-container {
  margin-top: 40px;
}

.country-cards {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  max-width: 1200px;
  margin: 0px auto;
  gap: 40px;
  margin-bottom: 70px;
}

@media only screen and (max-width: 900px) {
  .country-cards {
    display: flex;
    justify-content: center;
  }
}
