.country-card-container {
  background-color: var(--secondary-background);
  color: var(--primary-text);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: none;
  margin: 0px;
  padding: 0px;
  width: 270px;
  border-radius: 0 0 4px 4px;
}

.country-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}

.country-text-container {
  height: 115px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

h3 {
  color: var(--primary-text);
  font-weight: 600;
  margin-bottom: 8px;
}

p {
  color: var(--secondary-text);
}
