.country-card-container {
  background-color: var(--secondary-background);
  color: var(--primary-text);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: none;
  margin: 0px;
  padding: 0px;
  width: 270px;
  border-radius: 5px 5px 4px 4px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.country-card-container:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.country-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
}

.country-text-container {
  height: 115px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 16px;
  justify-content: center;
}

h2 {
  color: var(--primary-text);
  font-weight: 300;
  margin-bottom: 8px;
}

p {
  color: var(--secondary-text);
  padding-bottom: 3px;
}
